<section id="admintotal">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-capitalize mb-0 mt-0">Test for This Week</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-body scroll-div-categorylist">
                        <div class="table-responsive">
                            <table class="table table-bordereless table-condensed table-hover">
                                <thead class="thead-bg">
                                    <tr>
                                        <td>Name of the Test</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let test of weektestlist">
                                        <td>
                                            <span>{{test.testName}}</span>
                                        </td>
                                        <td>
                                            <span class="w-100" *ngIf="test.iscalculated==false"><a type="button" class="btn btn-md btn-warning w-100"
                                                    (click)="calculateTestResults(test.testId)">Calculate</a></span>
                                            <span></span> <span class="w-100" *ngIf="test.iscalculated==true"><a type="button"
                                                    class="btn btn-md btn-info w-100" [routerLink]="['../testresults', test.testId]">Result</a></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="col-sm-12" *ngIf="weektestlist.length<=0">No Record Found</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>