<div class="section">
    <div class="container-fluid mt-3" *ngIf='masterList'>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header bg-info pt-2 pb-0">
                        <h4 class="text-capitalize mb-0 text-white" style="line-height: 37px;">List of Users
                            <span class="float-right h5 font-weight-normal ml-2 text-white">Create Multiple Users
                                <i class="fa fa-plus-square ml-2 btn btn-warning text-dark" type="button" data-toggle="modal"
                                    data-target="#exampleModal1" (click)="addMultipleUser()">
                                </i>
                            </span>
                            <span class="float-right h5 font-weight-normal text-white">Create User
                                <i class="fa fa-plus-square ml-2 btn btn-warning text-dark" type="button" data-toggle="modal"
                                    data-target="#exampleModal" (click)="addUser()">
                                </i>
                            </span>
                        </h4>
                    </div>
                    <app-datatable  [tableData]='filteredData' [columns]='columns'   (onEdit)='onEdit($event)' (onDelete)='onDelete($event)' [tblbtns]='tblbtns'></app-datatable>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5" *ngIf='master'>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h4 class="text-capitalize">{{title}}</h4>

                    </div>
                    <div class="card-body">
                        <span class="text-success">{{Message}}</span><br />
                        <span class="text-danger">{{error1}}</span><br />
                        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <Label>Email</Label>
                                        <input type="text" class="form-control" id="name" name="name" formControlName="name"
                                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Please enter a valid email">
                                        <div *ngIf="submitted && f.name.errors" class="text-danger">
                                            <div *ngIf="f.name.errors.required">User Email is required</div>
                                            <div *ngIf="f.name.errors.email"> Email must be a valid"
                                                address</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <Label>Password</Label>
                                        <input type="password" class="form-control" id="password" name="password"
                                            formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                            placeholder="Password">
                                        <div *ngIf="submitted && f.password.errors" class="text-danger">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                            <div *ngIf="f.password.errors.pattern">
                                                Paswword must be at least 8 characters in length with
                                                Lowercase letter,Uppercase letter,
                                                Number and Special character
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <Label>User Type</Label>
                                        <select class="form-control" id="group" name="group" formControlName="group">
                                            <option *ngFor="let grp of  groups" [ngValue]="grp.code">
                                                {{grp.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.group.errors" class="text-danger">
                                            <div *ngIf="f.group.errors.required">
                                                User Type is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="h6">User Status</label>
                                        <div class="form-check">
                                            <input type="checkbox" formControlName="isActive" name="isActive">
                                            <label class="form-check-label" for="gridCheck">
                                                Active
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 offset-md-6">
                                    <button type="submit" class="btn btn-info w-100">{{buttonCaption}}</button>

                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn bg-light border w-100" (click)="goBack()">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5" *ngIf='multipleUser'>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h4 class="text-capitalize">{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <span class="text-success">{{Message}}</span><br />
                        <span class="text-danger">{{error1}}</span><br />
                        <form [formGroup]="userForm" (ngSubmit)="onSubmitMultiple()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <Label>Enter multiple Email Ids of users seperated by semicolon</Label>
                                        <textarea formControlName="name" class="form-control" id="name" name="name"
                                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" style="height: 177px;"></textarea>
                                        <div *ngIf="submitted && f.name.errors" class="text-danger">
                                            <div *ngIf="f.name.errors.required">User Email is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <Label>Password</Label>
                                                <input type="password" class="form-control" id="password" name="password"
                                                    formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                                    placeholder="Password">
                                                <div *ngIf="submitted && f.password.errors" class="text-danger">
                                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                                    <div *ngIf="f.password.errors.pattern">
                                                        Paswword must be at least 8 characters in length with
                                                        Lowercase letter,Uppercase letter,
                                                        Number and Special character
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <Label>Group</Label>
                                                <select class="form-control" id="group" name="group" formControlName="group">
                                                    <option *ngFor="let grp of  groups" [ngValue]="grp.code">
                                                        {{grp.name}}
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted && f.group.errors" class="text-danger">
                                                    <div *ngIf="f.group.errors.required">
                                                        User Type is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="h6">User Status</label>
                                                <div class="form-check">
                                                    <input type="checkbox" formControlName="isActive" name="isActive">
                                                    <label class="form-check-label" for="gridCheck">
                                                        Active
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <hr>
                            <div class="row">
                                <div class="col-md-3 offset-md-6">
                                    <button type="submit" class="btn btn-info w-100">{{buttonCaption}}</button>

                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn bg-light border w-100" (click)="goBack()">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>