<div class="section">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="text-capitalize text-white">Edit test</h4>
                    </div>
                    <div class="card-body">
                        <span class="text-success">{{message}}</span><br />
                        <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Test Name</label>
                                        <input type="text" class="form-control" id="testName" name="testName"
                                            formControlName="testName" [ngClass]="{ 'is-invalid': submitted && f.testName.errors }"
                                            placeholder="Enter test name">
                                        <div *ngIf="submitted && f.testName.errors" class="text-danger">
                                            <div *ngIf="f.testName.errors.required">Test Name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Test in Minute</label>
                                    <input type="number" class="form-control" id="testTime" name="testTime"
                                        formControlName="testTime" [ngClass]="{'is-invalid': submitted && f.testTime.errors }"
                                        placeholder="Enter test minute">
                                    <div *ngIf="submitted && f.testTime.errors" class="text-danger">
                                        <div *ngIf="f.testTime.errors.required">Test Minute is required</div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select class="form-control" id="category" name="category" formControlName="category"
                                            (change)="selecteCategory($event.target.value)"> >
                                            <option>All</option>
                                            <option *ngFor="let cat of  catList" [ngValue]="cat.name">
                                                {{cat.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.category.errors" class="text-danger">
                                            <div *ngIf="f.category.errors.required">
                                                category is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-0">
                                        <label>group</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <select class="form-control" id="groupid" name="groupid" formControlName="groupid">
                                            <option *ngFor="let grp of  grpList" [ngValue]="grp._id">
                                                {{grp.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.groupid.errors" class="text-danger">
                                            <div *ngIf="f.groupid.errors.required">
                                                Group is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" formControlName="isAutoCalc"
                                            name="isAutoCalc" value="isAutoCalc">
                                        <label class="form-check-label" for="inlineCheckbox1">Auto Calc</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" formControlName="isShowResult"
                                            name="isShowResult" value="isShowResult">
                                        <label class="form-check-label" for="inlineCheckbox1">Show Result</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" formControlName="isScreenShare"
                                            name="isScreenShare" value="isScreenShare">
                                        <label class="form-check-label" for="inlineCheckbox1">Show Screen</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" formControlName="isVideoShare"
                                            name="isVideoShare" value="isVideoShare">
                                        <label class="form-check-label" for="inlineCheckbox1">Show Video</label>
                                    </div>
                                </div>
                                <div class="col-md-3 offset-md-6">
                                    <div>

                                        <button type="submit" class="btn btn-info w-100">Update</button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-light border w-100" (click)="gotoParent()">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header thead-bg">
                        <h4 class="text-capitalize">Available Questions</h4>
                    </div>
                    <div class="card-body">
                            <app-datatable  [tableData]='questions' [columns]='columns'  (onSelect)='onSelect($event)' [selectedQuestions] ='selectedQuestions' [tblbtns]='tblbtns'></app-datatable>
                        <!-- <table class="table table-hover">
                            <tr *ngFor="let q of  questions ; index as i">
                                <td>{{i+1}}</td>
                                <td>{{q.text}} </td>
                                <td>
                                    <span class="pull-right">
                                        <input type="checkbox" class="form-check-input float-right" name="questions"
                                            value="{{q}}" [checked]="selectedQuestions.indexOf(q._id)>-1"
                                            (change)="selecteQuestion(q, $event)" />
                                         {{option}} 
                                    </span>
                                </td>
                            </tr>
                        </table> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>