<div class="container-fluid mt-5">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-center text-white bg-info">Change password</div>
        <div class="card-body">
          <span [ngClass]="showMessage ? 'text-success' : 'text-danger'">{{savedMessage}}</span><br />
          <form class="mt-4" [formGroup]="changepassword" (ngSubmit)="changePassword()">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <label>Old Password</label>

                  <input type="password" class="form-control" id="oldPassword" name="oldPassword" formControlName="oldPassword"
                    [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" placeholder="Enter old password">
                  <div *ngIf="submitted && f.oldPassword.errors" class="text-danger">
                    <div *ngIf="f.oldPassword.errors.required">Password is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <label>New Password</label>
                  <input type="password" maxlength="25" class="form-control" id="newPassword" name="newPassword"
                    formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
                    placeholder="Enter new password">
                  <div *ngIf="submitted && f.newPassword.errors" class="text-danger">
                    <div *ngIf="f.newPassword.errors.required">New password is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" maxlength="25" class="form-control" id="confirmPassword" name="confirmPassword"
                    formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    placeholder="Enter Confirm password">
                  <div *ngIf="submitted && f.confirmPassword.errors" class="text-danger">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                    <div class="error" *ngIf="changepassword.get('confirmPassword').errors && changepassword.get('confirmPassword').errors.ConfirmPassword">
                      New Password and Confirm Password didn't match.
                     </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  
              </div>
            </div>
          </div>
            <div class="row mt-2">
              <div class="col-md-3 offset-md-3">
                <button type="submit" id="bCancel" name="bCancel" class="btn btn-info w-100">Change</button>
              </div>
              <div class="col-md-3">
                <button id="bGodkend" name="bGodkend" (click)="cancel()" class="btn btn-light border w-100">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>